STRIPE_SECRET_KEY=sk_test_replace_with_your_secret_key
STRIPE_WEBHOOK_SECRET=whsec_replace_with_your_stripe_webhook_signing_secret
POSTMARK_SERVER_TOKEN=replace_with_your_postmark_server_token
POSTMARK_FROM_EMAIL=orders@your-verified-domain.com
POSTMARK_REPLY_TO_EMAIL=orders@your-verified-domain.com
POSTMARK_MESSAGE_STREAM=outbound
POSTMARK_CONTACT_TO_EMAIL=hello@your-verified-domain.com
