node_modules/
**/node_modules/

.expo/
.expo-shared/

android/
ios/

*.html
*.css
404.shtml
shop.js
shopStyles.js
test.js
*.py

*.jpg
*.jpeg
*.png
!background1.png
!background1_no_cheeseboard.png
!bargain_square_whitefill.png
!cheeseboard_products.png
!convenience111_mos9_bright_soft_mockup_tile_blend_both_mockup.png
!convenience2_content_fill_mockup_1_plain_gray_gradient_mos9_tile_blend_both_mockup.png
!janny1brevised.png
!janny2drevised.png
!janny3erevised.png
!passion111_mos9_bright_italian_mockup_tile_blend_both_mockup.png
!soflo_square.png
!taste111_mos9_bright_soft_mockup_tile_blend_both_mockup.png
!truck1_square_whitefill.png

assets/fonts/**/*.pdf
assets/fonts/dream_avenue/dream_avenue_.otf
assets/fonts/tt_fors/*italic*
assets/fonts/tt_fors/tt_fors_black_outline_trial.ttf
assets/fonts/tt_fors/tt_fors_trial_bold.ttf
assets/fonts/tt_fors/tt_fors_trial_extrabold.ttf
assets/fonts/tt_fors/tt_fors_trial_extralight.ttf
assets/fonts/tt_fors/tt_fors_trial_medium.ttf
assets/fonts/tt_fors/tt_fors_trial_thin.ttf
assets/fonts/tt_fors/tt_fors_trial_variable.ttf

dist/
build/
web-build/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.DS_Store
*.swp
*.swo
